#========================================
#     Config File for DASHEncoder2
#========================================

#========================================
#             General Options
#========================================
#remember to add the '/'
dest-directory : test/
#currently only supports H264 and AAC
video-encoder : H264
audio-encoder : AAC
multiplexer : mp4box

#========================================
#             Video Options 
#========================================

input : test.mp4
#input-width : 1104
#input-height : 622
bitrate : 250@480x272|500@640x360
#or simply set bitrate : 200|400|600|1000
fps : 24
profile : high
preset : fast
#currenly only supprts 1 pass encoding
passes : 1
video-codec : libx264

#========================================
#             Audio Options 
#========================================

# [channels, samplerate, bitrate]
audio-quality : 2,44100,48|2,44100,128
#or simply set audio-quality : 2,44100,48 
audio-input : test.mp4
audio-codec : libvo_aacenc

#========================================
#             MP4Box Options
#========================================
#currently not supported
#AV Muxing, also can be 250,500@48|....
#whether to save audio track in separate dirs or mux them with video according to following settings
#mux-combi : 250@48|500,1000@128

#========================================
#             MPD Options
#========================================
#1 means true, 0 means false
rap-aligned : 1
use-template-url : 1
mpd-name : test.mpd
#0 means you dont need to set base-url
#or you can set as http://localhost/dashtest/ , remember to add the final '/'
base-url : 0
#in milliseconds
fragment-size : 2000
segment-size : 2000
minBufferTime : 2000

#========================================
#             SQL Options
#========================================
#currently not supported
#store-psnr 
#sql-host : localhost
#sql-user : root
#sql-pw : 
#sql-database : dash