#========================================
#     Config File for DASHEncoder2
#========================================

#========================================
#             General Options
#========================================
dest-directory : test/						#Destination directory, remember to add the '/'
#currently only supports H264 and AAC
video-encoder : H264
audio-encoder : AAC
multiplexer : mp4box

#========================================
#             Video Options 
#========================================

input : test.mp4
input-width : 1104
input-height : 622
video-rep : 250@480x272|500@640x360			#or simply set video-rep : 200|400|600|1000
fps : 24
profile : high								#h.264 profile
preset : fast								#x264 preset
passes : 1									#Encoding passes, currenly only supprts 1 pass encoding
video-codec : libx264

#========================================
#             Audio Options 
#========================================
audio-rep : 2,44100,48|2,44100,128		#[channels, samplerate, bitrate], or simply set audio-rep : 2,44100,48
audio-input : test.mp4
audio-codec : libvo_aacenc

#========================================
#             MP4Box Options
#========================================
#AV Muxing, also can be 250,500@48|....
#whether to save audio track in separate dirs or mux them with video according to following settings
mux-combi : 250@48|500,1000@128

#========================================
#             MPD Options
#========================================
rap-aligned : 1								#Muliplexing at GOP boundaries, 1 means true, 0 means false
use-template-url : 1						#Use Segment Template, 1 means true, 0 means false
mpd-name : test.mpd

base-url : 0								#0 means you dont need to set base-url, or you can set as http://localhost/dashtest/ , remember to add the final '/'
fragment-size : 2000						#Fragment size in milliseconds
segment-size : 2000							#DASH segment size in milliseconds
minBufferTime : 2000						#Minimum Buffer in MPD in milliseconds

#========================================
#             SQL Options
#========================================
#currently not supported
#store-psnr # Store PSNR statistics to database
#sql-host : localhost
#sql-user : root
#sql-pw : 
#sql-database : dash