#========================================
#     Config File for DASHEncoder2
#========================================

#========================================
#             General Options
#========================================
#Destination directory, remember to add the '/'
dest-directory : test/
#currently only supports H264 and AAC
video-encoder : H264
audio-encoder : AAC
multiplexer : mp4box

#========================================
#             Video Options 
#========================================

input : cuc_ieschool.mkv
input-width : 512
input-height : 288
#or simply set video-rep : 200|400|600|1000
video-rep : 250@480x270|500@320x180
fps : 25
#h.264 profile
profile : high
#x264 preset	
preset : fast
#Encoding passes, currenly only supprts 1 pass encoding
passes : 1
video-codec : libx264

#========================================
#             Audio Options 
#========================================
#[channels, samplerate, bitrate], or simply set audio-rep : 2,44100,48
audio-rep : 2,44100,48|2,44100,128
audio-input : cuc_ieschool.mkv
audio-codec : libvo_aacenc

#========================================
#             MP4Box Options
#========================================
#AV Muxing, also can be 250,500@48|....
#whether to save audio track in separate dirs or mux them with video according to following settings
mux-combi : 250@48|500@128

#========================================
#             MPD Options
#========================================
#Muliplexing at GOP boundaries, 1 means true, 0 means false
rap-aligned : 1
#Use Segment Template, 1 means true, 0 means false
use-template-url : 0
mpd-name : cuc_ieschool_2s
#0 means you dont need to set base-url, 
#or you can set as http://localhost/dashtest/ , remember to add the final '/'
base-url : 0
#Fragment size in milliseconds
fragment-size : 2000
#DASH segment size in milliseconds
segment-size : 2000
#Minimum Buffer in MPD in milliseconds
minBufferTime : 2000

#========================================
#             SQL Options
#========================================
#currently not supported
#store-psnr # Store PSNR statistics to database
#sql-host : localhost
#sql-user : root
#sql-pw : 
#sql-database : dash